<?xml version="1.0"?>
<configuration
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/nkatsar/logback-XSD/master/src/main/xsd/logback.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        scan="false">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%m%n</pattern>
        </encoder>
    </appender>

    <appender name="NETTY" class="ch.qos.logback.core.FileAppender">
        <file>logs/netty.log</file>
        <encoder>
            <pattern>%d %-5p [%c] [%thread] %m%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/jclouds.log</file>
        <encoder>
            <pattern>%d %-5p [%c] [%thread] %m%n</pattern>
        </encoder>
    </appender>

    <appender name="WIREFILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/jclouds-wire.log</file>
        <encoder>
            <pattern>%d %-5p [%c] [%thread] %m%n</pattern>
        </encoder>
    </appender>

    <appender name="COMPUTEFILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/jclouds-compute.log</file>
        <encoder>
            <pattern>%d %-5p [%c] [%thread] %m%n</pattern>
        </encoder>
    </appender>

    <appender name="SSHFILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/jclouds-ssh.log</file>
        <encoder>
            <pattern>%d %-5p [%c] [%thread] %m%n</pattern>
        </encoder>
    </appender>

    <root level="INFO" />

    <logger name="io.netty" level="INFO">
        <appender-ref ref="NETTY"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.jclouds" level="DEBUG">
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="jclouds.compute" level="DEBUG">
        <appender-ref ref="COMPUTEFILE"/>
    </logger>

    <logger name="jclouds.wire" level="DEBUG">
        <appender-ref ref="WIREFILE"/>
    </logger>

    <logger name="jclouds.headers" level="DEBUG">
        <appender-ref ref="WIREFILE"/>
    </logger>

    <logger name="jclouds.ssh" level="DEBUG">
        <appender-ref ref="SSHFILE"/>
    </logger>

    <logger name="net.schmizz" level="DEBUG">
        <appender-ref ref="SSHFILE"/>
    </logger>
</configuration>
