<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <RollingFile name="rollingFile"
                     fileName="worker.log"
                     filePattern="worker.%i.log"
                     ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="1000MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>

        <Async name="file" bufferSize="1000">
            <AppenderRef ref="rollingFile"/>
        </Async>
    </Appenders>
    <Loggers>
        <Logger name="org.jgroup" level="debug" additivity="true">
            <AppenderRef ref="file"/>
        </Logger>

        <Logger name="org.infinispan.remoting.transport.jgroups" level="debug" additivity="true">
            <AppenderRef ref="file"/>
        </Logger>

        <Logger name="org.infinispan" level="info" additivity="true">
            <AppenderRef ref="file"/>
        </Logger>

        <Root level="info">
            <AppenderRef ref="file"/>
        </Root>
    </Loggers>
</Configuration>